<section class="contacts">
    <div class="contacts__row">
        <p class="contacts__text"><strong>Время работы:</strong></p>
        <time datetime="10:00 — 19:00" class="contacts__text">10:00 — 19:00</time>
    </div>
    <div class="contacts__tel">
        <a href="tel:84957212525">8 495 721-25-25</a>
    </div>
    <div class="contacts__row">
        <p class="contacts__text js-select-text">Москва</p>
        <div class="contacts__select">
            <div class="contacts__select-placeholder contacts__text js-select-placeholder">
                <img src="./assets/img/svg/arrow.svg" alt="">
                <span>сменить</span>
            </div>
            <div class="contacts__select-dropdown">
                <ul class="contacts__select-list">
                    <li class="contacts__select-item contacts__text js-select-item" data-value="Москва"><span>Москва</span></li>
                    <li class="contacts__select-item contacts__text js-select-item" data-value="Екатеринбург"><span>Екатеринбург</span></li>
                    <li class="contacts__select-item contacts__text js-select-item" data-value="Санкт-Петербург "><span>Санкт-Петербург</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>