<section class="menu">
    <div class="menu__inner">
        <form class="menu__search js-search">
            <label for="search" class="menu__search-wrap">
                <button type="submit" class="menu__search-btn">
                    <svg>
                        <use xlink:href="./assets/img/sprites/sprite.svg#glass"></use>
                    </svg>
                </button>
                <input type="text" class="menu__search-input js-search-input" id="search" name="search">
            </label>
        </form>
        <nav class="menu__nav js-nav" data-linkText="Ешё..." data-linkTextAll="Меню">
            <ul class="menu__list navmenu">
                <li class="menu__list-item active"><a href="/">Перфораторы</a></li>
                <li class="menu__list-item"><a href="/">Дрели</a></li>
                <li class="menu__list-item"><a href="/">Шлифмашины</a></li>
                <li class="menu__list-item"><a href="/">Пистолеты</a></li>
                <li class="menu__list-item"><a href="/">Электропилы</a></li>
                <li class="menu__list-item"><a href="/">Наборы инструментов</a></li>
                <li class="menu__list-item"><a href="/">Акксесуары</a></li>
            </ul> 
        </nav>
        <a href="" class="menu__link">Распродажа</a>
    </div>
</section>