<section class="product">
    <div class="product__d-flex">
        <ul class="product__link">
            <li class="product__link-item">
                <a href="">
                    <img src="./assets/img/svg/icon_1.svg" alt="">
                    <span>3 шт. / 17 250 р.</span>
                </a>
            </li>
            <li class="product__link-item">
                <a href="">
                    <img src="./assets/img/svg/icon_2.svg" alt="">
                    <span>Избранное (7)</span>
                </a>
            </li>
            <li class="product__link-item">
                <a href="">
                    <img src="./assets/img/svg/icon_3.svg" alt="">
                    <span>К сравнению (5)</span>
                </a>
            </li>
        </ul>
        <div class="product__images">
            <div class="product__img">
                <a href="">
                    <picture>
                        <img src="./assets/img/content/p_1.png" alt="" loading="lazy">
                    </picture>
                </a>
            </div>
            <div class="product__img">
                <a href="">
                    <picture>
                        <img src="./assets/img/content/p_2.png" alt="" loading="lazy">
                    </picture>
                </a>
            </div>
            <div class="product__img">
               <a href="">
                    <picture>
                        <img src="./assets/img/content/p_3.png" alt="" loading="lazy">
                    </picture>
               </a>
            </div>
        </div>
    </div>
</section>