<nav class="top-nav js-nav" data-linkText="Ешё..." data-linkTextAll="Меню" data-undo="true">
    <ul class="top-nav__list top-nav__list_first navmenu">
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>Каталог инструментов</span></a></li>
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>Все для сада</span></a></li>
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>Ручной интрумент</span></a></li>
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>Электрика</span></a></li>
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>Доставка</span></a></li>
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>Оплата</span></a></li>
        <li class="top-nav__item"><a href="/" class="top-nav__link"><span>О нас</span></a></li>
    </ul>
</nav>