
@mixin font-face($name, $path, $format, $style, $weight) {
    @font-face {
        font-family: $name;
        src: url($path + "." + $format) format($format),
            url($path + "." + $format) format($format);
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin below($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin above($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin below_and_above($max, $min) {
    @media (max-width: $max) and (min-width: $min) {
        @content;
    }
}