$base_font: Arial, Helvetica, sans-serif;
$accent_font: "Roboto", $base_font;

$white: #fff;
$black: #000;

$color_dark: #252525;
$color_yellow: #FFCC00;



$body_width: 1920px;

$breaks: (
  desktop_lg: 1600px,
  desktop: 1440px,
  laptop: 1380px,
  tablet: 1100px,
  tablet_md: 1024px,
  mobile: 768px,
  mobile_sm: 575px,
  mobile_xs: 479px,
  mobile_xxs: 375px,
);

$container: (
  desktop_lg: 1460px,
  desktop: 1200px,
  laptop: 1024px,
  tablet: 768px,
  mobile: 320px,
  mobile_xs: 280px,
);

$trns: all 0.2s linear;