.logo {
    width: 100%;
    max-width: 210px;
    margin-top: 12px;

    @include below(768px) {
        margin-top: 0;
        max-width: max-content;

        display: flex;
        align-items: center;
    }

    &__img {
        display: inline-block;
        background-color: $color_yellow;
        padding: 10px 57px 6px;
        transition: $trns;

        @include below(768px) {
            padding: 10px;
        }

        img {
            display: block;
            width: 95px;
            height: 95px;

            @include below(768px) {
                width: 24px;
                height: 24px;
            }
        }

        &:hover {
            background-color: #ddb205;
        }

        &:active {
            background-color: $color_yellow;
        }
    }

    &__title {
        display: block;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: $black;
        margin-top: 10px;
        text-align: center;

        @include below(768px) {
            font-size: 10px;
            line-height: 1;
            margin-top: 0;
            margin-left: 15px;
        }

        span {
            transition: $trns;
            border-bottom: 1px solid transparent;
        }

        &:hover {
            span {
                border-color: $black;
            }
        }

        &:active {
            span {
                border-color: transparent;
            }
        }
    }
}