.product {
    margin-right: auto;
    margin-left: 25px;

    @include below(1160px) {
        width: 60%;
        margin-right: 0;
        margin-left: 0;
        order: 1;
    }

    @include below(980px) {
        width: 100%;
    } 

    &__d-flex {
        display: flex;

        @include below(768px) {
            flex-direction: column;
        }
    }

    &__images {
        display: flex;
        margin-left: 25px;

        @include below(1160px) {
            margin-left: 40px;
            overflow: hidden;
            overflow-x: auto;
        }

        @include below(768px) {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    &__link-item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        a {
            display: flex;
            align-items: center;

            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.01em;
            text-decoration-line: underline;

            color: #252525;

            text-decoration: underline;

            @include below(1160px) {
                white-space: nowrap;
            }
        }

        img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }

    &__img {
        width: 70px;
        height: 70px;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}